body {
    background-color: rgb(218, 218, 218);
}

.container-fluid {
    background-color: white;
    width: 800px;
    height: auto;
    border: 2px solid grey;
    border-radius: 20px;
    margin-top: 30px;
}
h1 {
    font-size: 60px;
}
